---
import Layout from "../../layouts/Layout.astro";
import { getArtistesByDate } from "../../../backend/backend.mjs";

const artistes = await getArtistesByDate();
---

<Layout>
    <section class="py-8 bg-beige-claire min-h-screen">
        <div class="container">
            <h1
                class="font-titre text-marron-fonce text-4xl mb-8 text-center tracking-wide"
            >
                NOS ARTISTES
            </h1>
            <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
            >
                {
                    artistes.map((artiste) => (
                        <div class="bg-marron-fonce rounded-2xl shadow-lg p-6 flex flex-col items-center justify-center transition-transform hover:-translate-y-1 hover:shadow-2xl w-full">
                            <div class="w-32 h-32 mb-4 flex items-center justify-center">
                                <img
                                    src={`https://festicloze.rahmaproject.fr/api/files/artistes/${artiste.id}/${artiste.photo}`}
                                    alt={artiste.nom}
                                    class="w-28 h-28 rounded-full object-cover border-4 border-beige shadow-md"
                                />
                            </div>
                            <div class="font-titre text-beige-claire text-lg text-center truncate w-full uppercase tracking-wide">
                                {artiste.nom}
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
